@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<button class="btn btn-outline-danger">Caller</button>
<h2>Welcome to your new app.@DateTime.Now.DayOfYear</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, enim!
</p>

Lorem, ipsum dolor sit amet consectetur adipisicing elit. In voluptatum nemo repellendus cupiditate harum voluptates
exercitationem, natus ullam quia delectus, facere eos rem, similique dolorum nam porro dolore! Odio, labore.

<div>
<button class="btn btn-outline-secondary">Download data</button>
</div>

<ul>
  <li>Item-1</li>
  <li>Item-2 <NavLink href="#">Link</NavLink></li>
  <li>Item-3</li>
</ul>


<footer>
  &coprod; Kvr @DateTime.Now.Year
</footer>